<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    ПЕРМСКИЙ УНИВЕРСИТЕТ<br />
    614990, г. Пермь, ул. Букирева, 15<br />
    <abbr title="Телефон">Тел.:</abbr>
    239-64-35
</address>

<address>
    <strong>Сайт университета:</strong>   <a href="mailto:info@psu.ru">info@psu.ru</a><br />
    <strong>Приемная комиссия:</strong>   <a href="mailto:entrance.examination@psu.ru">entrance.examination@psu.ru</a><br />
    <strong>Техническая поддержка:</strong>   <a href="mailto:mikhail.vaganov.sci@gmail.com">mikhail.vaganov.sci@gmail.com</a><br />
</address>