
<div class="jumbotron">
    <h2>Приемная комиссия физического факультета ПГНИУ</h2>
    <p class="lead">На этом сайте вы можете получить информацию о своем положении в списке поступающих на специальности физического факультета</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Перейти к списку абитуриентов &raquo;</a></p>
</div>